data/NodeRedTutorial/1_query.json
[{"id":"383e0c8c.5a7d0c","type":"inject","z":"f0f1a3db.d85df","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":140,"wires":[["bb2f0eb2.b3e71"]]},{"id":"6a30fe9c.c16a78","type":"template","z":"f0f1a3db.d85df","name":"SPARQL query","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"select distinct ?botclass \nFROM <https://w3id.org/bot>\nwhere { \n    ?botclass rdf:type owl:Class . \n}","output":"str","x":440,"y":220,"wires":[["5390e2c7.0b9c2c"]]},{"id":"a50bda43.26d36","type":"http request","z":"f0f1a3db.d85df","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":340,"wires":[["bf6562c1.d99d58","54b7c078.dcf43"]]},{"id":"bf6562c1.d99d58","type":"debug","z":"f0f1a3db.d85df","name":"Bindings","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":320,"wires":[]},{"id":"bb2f0eb2.b3e71","type":"change","z":"f0f1a3db.d85df","name":"Set URL & Headers","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:5820/LDAC/query","tot":"str"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"},{"t":"set","p":"headers['Accept']","pt":"msg","to":"application/sparql-results+json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[["6a30fe9c.c16a78"]]},{"id":"54b7c078.dcf43","type":"debug","z":"f0f1a3db.d85df","name":"URIs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.bindings.botclass.value","targetType":"jsonata","x":610,"y":360,"wires":[]},{"id":"5390e2c7.0b9c2c","type":"change","z":"f0f1a3db.d85df","name":"finalize query","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"query=\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["a50bda43.26d36"]]}]