data/NodeRedTutorial/2_update.json
[{"id":"8e217d16.03ffc8","type":"inject","z":"7b9ab328.92ad0c","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":60,"wires":[["e37b680d.98a458"]]},{"id":"389a0ae7.cfc906","type":"template","z":"7b9ab328.92ad0c","name":"SPARQL update","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"PREFIX bot: <https://w3id.org/bot#>\nPREFIX ex: <https://www.example.com#>\n\nINSERT DATA { \n  GRAPH <https://www.example.com>  {\n    <https://www.example.com> owl:imports <https://w3id.org/bot> .\n  \tex:NewZone rdf:type owl:NamedIndividual , bot:Zone.\n  }\n}\n","output":"str","x":380,"y":140,"wires":[["482eb33b.cadd8c"]]},{"id":"6c88eba5.82a624","type":"http request","z":"7b9ab328.92ad0c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":330,"y":240,"wires":[["745b9c05.eba1c4"]]},{"id":"745b9c05.eba1c4","type":"debug","z":"7b9ab328.92ad0c","name":"statusCode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":530,"y":240,"wires":[]},{"id":"e37b680d.98a458","type":"change","z":"7b9ab328.92ad0c","name":"Set URL & Headers","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:5820/LDAC/update","tot":"str"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":140,"wires":[["389a0ae7.cfc906"]]},{"id":"482eb33b.cadd8c","type":"change","z":"7b9ab328.92ad0c","name":"finalize query","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"query=\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[["6c88eba5.82a624"]]}]