data/NodeRedTutorial/3_sequential_query.json
[{"id":"59bfaf1b.8937e","type":"tab","label":"Query Sequence","disabled":false,"info":""},{"id":"b8f665a5.a6725","type":"inject","z":"59bfaf1b.8937e","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":40,"wires":[["845281d5.018cf"]]},{"id":"59d3a3ee.95f184","type":"template","z":"59bfaf1b.8937e","name":"SPARQL query","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"query=\nselect distinct ?botclass \nFROM <https://w3id.org/bot>\nwhere { \n    ?botclass rdf:type owl:Class . \n}","output":"str","x":420,"y":140,"wires":[["8248d7b0.962c08"]]},{"id":"8248d7b0.962c08","type":"http request","z":"59bfaf1b.8937e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":610,"y":140,"wires":[["c6e99b04.3067c","90c2c2e6.1e2ae"]]},{"id":"845281d5.018cf","type":"change","z":"59bfaf1b.8937e","name":"Set URL & Headers","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:5820/LDAC/query","tot":"str"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"},{"t":"set","p":"headers['Accept']","pt":"msg","to":"application/sparql-results+json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["59d3a3ee.95f184"]]},{"id":"c6e99b04.3067c","type":"debug","z":"59bfaf1b.8937e","name":"URIs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.bindings.botclass.value","targetType":"jsonata","x":810,"y":140,"wires":[]},{"id":"9f1ce207.58f23","type":"split","z":"59bfaf1b.8937e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":260,"wires":[["585fc625.2b85b"]]},{"id":"90c2c2e6.1e2ae","type":"change","z":"59bfaf1b.8937e","name":"Move results to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results.bindings.botclass.value","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":260,"wires":[["9f1ce207.58f23"]]},{"id":"eef48833.0ad108","type":"debug","z":"59bfaf1b.8937e","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.bindings","targetType":"jsonata","x":800,"y":380,"wires":[]},{"id":"73ff6404.25f12c","type":"template","z":"59bfaf1b.8937e","name":"SPARQL query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"query=\nselect distinct ?botclass ?prop \nFROM <https://w3id.org/bot>\nwhere { \n    VALUES ?botclass {<{{{uri}}}>} \n    ?prop rdfs:domain ?botclass .\n}","output":"str","x":420,"y":380,"wires":[["f488988f.d24918"]]},{"id":"f488988f.d24918","type":"http request","z":"59bfaf1b.8937e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":610,"y":380,"wires":[["eef48833.0ad108"]]},{"id":"ecca5a34.e79b4","type":"change","z":"59bfaf1b.8937e","name":"Set URL & Headers","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:5820/LDAC/query","tot":"str"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"},{"t":"set","p":"headers['Accept']","pt":"msg","to":"application/sparql-results+json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[["73ff6404.25f12c"]]},{"id":"585fc625.2b85b","type":"change","z":"59bfaf1b.8937e","name":"","rules":[{"t":"set","p":"uri","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["ecca5a34.e79b4"]]}]