data/NodeRedTutorial/5_mqtt_subscribe_JSON.json
[{"id":"b4daf526.ebf55","type":"tab","label":"MQTT subscribe JSON","disabled":false,"info":""},{"id":"46639621.cd2db8","type":"mqtt in","z":"b4daf526.ebf55","name":"","topic":"LDAC/roomsensor","qos":"2","datatype":"auto","broker":"9b10bbd9.0639e8","x":110,"y":140,"wires":[["f689ede5.af7ae8"]]},{"id":"2d989f3c.0ea25","type":"debug","z":"b4daf526.ebf55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":260,"wires":[]},{"id":"f689ede5.af7ae8","type":"json","z":"b4daf526.ebf55","name":"","property":"payload","action":"","pretty":false,"x":240,"y":200,"wires":[["2d989f3c.0ea25"]]},{"id":"9b10bbd9.0639e8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]