data/NodeRedTutorial/7_query_sensordata.json
[{"id":"a76e66b2.880158","type":"inject","z":"3aa979e2.2262ce","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":100,"wires":[["4df97275.4a4a64"]]},{"id":"7e5915c1.716c8c","type":"template","z":"3aa979e2.2262ce","name":"SPARQL query","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"PREFIX express: <http://purl.org/voc/express#>\nPREFIX bot: <https://w3id.org/bot#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX dog: <http://elite.polito.it/ontologies/dogont.owl#>\nPREFIX seas: <https://w3id.org/seas/>\nPREFIX dcterms: <http://purl.org/dc/terms/>\nPREFIX skos: <http://www.w3.org/2004/02/skos/core#>\nPREFIX ifc: <http://www.buildingsmart-tech.org/ifcOWL/IFC4_ADD1#>\n\nSELECT ?SensorIdent\nWHERE{\n?ifcglobID express:hasString \"05i4VutGDCsQKCrT6CQvhu\" .\n?roomIFC ifc:globalId_IfcRoot ?ifcglobID .\n?room skos:related ?roomIFC .\n?room bot:containsElement ?TempSensor .\n?TempSensor rdf:type dog:TemperatureSensor .\n?TempSensor seas:connectsAt/dcterms:identifier ?SensorIdent .\n}","output":"str","x":480,"y":180,"wires":[["833db6ae.64fc98"]]},{"id":"2cd033af.416474","type":"http request","z":"3aa979e2.2262ce","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":410,"y":300,"wires":[["90db6f97.854c2","98d08d2d.3bce"]]},{"id":"90db6f97.854c2","type":"debug","z":"3aa979e2.2262ce","name":"Bindings","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":280,"wires":[]},{"id":"4df97275.4a4a64","type":"change","z":"3aa979e2.2262ce","name":"Set URL & Headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://rdf.ontotext.com/4139541402/mydb/repositories/OpenSmartHomeDataSet","tot":"str"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"},{"t":"set","p":"headers['Accept']","pt":"msg","to":"application/sparql-results+json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["7e5915c1.716c8c"]]},{"id":"98d08d2d.3bce","type":"debug","z":"3aa979e2.2262ce","name":"SensorID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.bindings.SensorIdent.value","targetType":"jsonata","x":660,"y":320,"wires":[]},{"id":"833db6ae.64fc98","type":"change","z":"3aa979e2.2262ce","name":"finalize query","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"query=\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":180,"wires":[["2cd033af.416474"]]}]